---
layout: default
---

{% include hero_area_2.html %}

{% include organizations.html %}

<section class="section service bg-secondary position-relative">
	<img src="{{'/assets/images/bg/feature-bg.png' | relative_url}}" alt="" class="overlay-shape">
	<div class="container">
		<div class="row">
			<div class="col-lg-10">
				<span class="h5 text-color text-uppercase">
					Success
				</span>
				<h3 class="mb-5 mt-2 text-white">Successfully transformed Brazil's national COVID-19 vaccination and case notification dataset, encompassing over 187 million individuals, into the OMOP-CDM format.</h3>
			</div>
		</div>
	</div>
</section>

{% include goals.html %}

{% include blog.html %}
