<!-- Service Start -->
<section class="service-2">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-8 text-center">
				<span class="h5 text-color text-uppercase">
					gitHUB
				</span>
				<h3 class="mb-5 mt-2">Repositories</h3>
			</div>
		</div>

		<div class="row justify-content-center">
			<div class="col-md-6 border-right">
				<div class="service-item mb-4 text-center px-4 py-5">
					<i class="ti-github text-color icon-md"></i>
					<h4 class="my-4">OMOP CDM ETL</h4>
					<p>Pyspark script for creating omop tables from vigivac data. <br>
						<a href="https://github.com/decovacs/omop_cdm_etl" target="_blank">https://github.com/decovacs/omop_cdm_etl</a></p>
				</div>
			</div>
			<div class="col-md-6">
				<div class="service-item mb-4 mb-lg-0 text-center px-4 py-5">
					<i class="ti-github text-color icon-md"></i>
					<h4 class="my-4 ">OMOP Vigivac</h4>
					<p>This project provides tools and scripts for processing and managing OMOP Common Data Model (CDM) data.<a href="https://github.com/decovacs/omop-vigivac" target="_blank">https://github.com/decovacs/omop-vigivac</a></p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Service End -->
