<!-- Team Start -->
{% assign team = site.data.homepage_2.team %}
{% if team.enable %}
<section class="service-main section">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-8 text-center">
				<span class="h5 text-color text-uppercase">
					Goals	
				</span>
				<h3 class="mb-5 mt-2">Specific Goals</h3>
			</div>
		</div>
		<br>
		<p>Our overall aim is to develop a rapid, reproducible, and open data re-use model for policy-relevant COVID-19 and pandemic preparedness research in low- and middle-income countries, focusing on vaccine effectiveness and early warnings of local outbreaks that take local social deprivation into account.</p>
		<br>
		<div class="row justify-content-center">
			<div class="col-md-6 border-right">
				<div class="service-item mb-4 text-center px-4 py-5">
					<i class="ti-server text-color icon-md"></i>
					<h4 class="my-4">Link with Data Governance and Capacity Strengthening Cores </h4>
					<p>The data re-use project will serve as a use-case for both cores. We will leverage our extensive experience in OHDSI data science tools, standards, and processes for this.</p>
				</div>
			</div>
			<div class="col-md-6">
				<div class="service-item mb-4 mb-lg-0 text-center px-4 py-5">
					<i class="ti-loop text-color icon-md"></i>
					<h4 class="my-4 ">Link with Ongoing Initiatives and Resources</h4>
					<p>The Brazil team is running a COVID-19 Vaccine Effectiveness Surveillance Platform (https://vigivac.fiocruz.br), and we already have been able to run comparative analysis in cooperation with other countries before.</p>
				</div>
			</div>
		</div>
	</div>
</section>
{% endif %}
<!-- Team End -->