<!-- project Start -->
{% assign project = site.data.project.project %}
{% if project.enable %}
<section class="section project overflow-hidden">
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<div class="project-img">
					<img src="{{project.video_thumb| relative_url}}" alt="" class="img-fluid w-100">
					<div class="video-play">
						<div class="play-bg">
							<a class="popup-youtube" href="{{project.video_url}}"><i class="ti-control-play"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-7 offset-lg-1 mt-5 mt-md-0">
				<span class="text-color h5 text-uppercase">{{project.subtitle}}</span>
				<h3 class="mb-4 mt-3">{{ project.title }}</h3>
				{{ project.content | markdownify }}
				{% if project.button.enable %}
				<a href="{{ project.button.link | relative_url }}" class="btn btn-primary">{{project.button.label}}</a>
				{% endif %}
			</div>
		</div>
	</div>
</section>
{% endif %}
<!-- project End -->